<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th>No</th>
                <th>Name Bank</th>
                <th>Nomer Rekening</th>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="text-center">
                <th>No</th>
                <th>Name Bank</th>
                <th>Nomer Rekening</th>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>
            <% for(let i = 0; i < bank.length; i++){ %>
                <tr class="text-center">
                    <td><%= i+1 %></td>
                    <td><%= bank[i].nameBank %></td>
                    <td><%= bank[i].number %></td>
                    <td><%= bank[i].name %></td>
                    <td><img src="https://fajarcahyadiputra-nodejs.heroku.com/<%= bank[i].imageUrl %>" width="150" alt="Image Of Bank"></td>
                    <td>
                        <button data-name="<%= bank[i].name %>" data-number="<%= bank[i].number %>" data-bankname="<%= bank[i].nameBank %>" id="btn-edit" data-id="<%= bank[i]._id %>" class="btn btn-info btn-sm btn-circle"><i class="fa fa-edit"></i></button>
                        <button  id="btn-delete" data-id="<%= bank[i]._id %>" class="btn btn-danger btn-sm btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>